@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 10px;
}


body::-webkit-scrollbar-thumb {
  background-color: rgb(74, 161, 23);
}

.background_color {
  @apply bg-lime-300;
}

.link_tabs {
  @apply hover:text-green-500 hover:rotate-2 font-extralight mx-4 flex flex-row items-center justify-evenly;
}

.login_signup {
  @apply text-white text-xl font-thin bg-green-700 mx-2 px-2 py-1 shadow-sm shadow-green-700 hover:text-slate-100 hover:bg-green-600;
}

nav a.active:hover {
  color: white;
}

nav a.active {
  color: white;
  background-color: green;
  border-radius: 2px;
  padding: 8px;
  transform: rotate(-2deg);
}

.burger_login_signup {
  @apply bg-green-400 m-1 p-1 rounded-sm text-white font-bold hover:bg-green-500;
}

.burger_logout_signup {
  @apply bg-red-400 m-1 p-1 rounded-sm text-white font-bold hover:bg-red-500;
}

.burger_link_tabs {
  @apply text-white;
}

.logout_signup {
  @apply text-white text-xl font-thin bg-red-700 mx-2 px-2 py-1 shadow-sm shadow-red-500 hover:text-slate-100 hover:bg-red-600;
}

.edit_button {
  @apply p-2 w-20 flex items-center justify-start text-sm px-3 bg-blue-400 hover:bg-blue-500 font-bold text-white rounded-sm mt-1;
}

.delete_button {
  @apply p-2 w-20 flex items-center justify-start text-sm px-3 bg-red-400 hover:bg-red-500 font-bold text-white rounded-sm mt-1;
}

.view_button {
  @apply p-2 w-20 flex items-center justify-start text-sm px-3 bg-neutral-200 hover:bg-neutral-300 font-bold text-neutral-700 rounded-sm mt-1;
}

